#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flashcard{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .30rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  background-color: aliceblue;
  height: 500px;
  width: 1000px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y,0));
  transition: 150ms;
}

.flashcard.flip{
  --rotate-y:180deg;
}

.flashcard .front-card,
.flashcard .back-card{
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.flashcard .back-card{
  transform: rotateY(180deg);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007BFF;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-right: 15px;
  width: 150px;
}

.button:hover {
  background-color: #0056b3;
}